---
locale: es_ES.UTF-8
timezone: Europe/Madrid
swap:
  size: 1024M
  settings:
    - { setting: vm.swappiness, value: 10 }
    - { setting: vm.vfs_cache_pressure, value: 50 }
ssh:
  enable_forward_agent: true
nameserver: 1.1.1.1 1.0.0.1
packages: [zip]
mysql:
  packages: [mariadb-client, mariadb-server, python-mysqldb]
  databases: [test]
  users:
    - { user: test, password: test, database: test }
php:
  version: 7.1
  extensions: [bz2, curl, gd, intl, mbstring, mcrypt, mysql, xml, zip]
  extras: [apcu, apcu-bc]
  settings:
    - { setting: date.timezone, value: Europe/Madrid }
    - { setting: post_max_size, value: 64M }
    - { setting: realpath_cache_size, value: 5M }
    - { setting: realpath_cache_ttl, value: 7200 }
    - { setting: upload_max_filesize, value: 20M }
    - { setting: opcache.enable, value: 1 }
    - { setting: opcache.max_accelerated_files, value: 20000 }
    - { setting: opcache.revalidate_path, value: 1 }
users:
  - { name: test, password: test, generate_ssh_key: true, groups: sudo }
cronjobs:
  - { job: 'echo "Test" >> /dev/null 2>&1', name: 'Test', user: 'test', minute: 0, hour: 0, day: '*', month: '*', weekday: '*' }
