---
locale: es_ES.UTF-8
timezone: Europe/Madrid
swap:
  size: 1024M
  settings:
    - { setting: vm.swappiness, value: 10 }
    - { setting: vm.vfs_cache_pressure, value: 50 }
users:
  - { name: test, password: test, generate_ssh_key: true, groups: 'sudo,www-data' }
ssh:
  enable_forward_agent: true
nameserver: 1.1.1.1 1.0.0.1
packages: [git, zip, unzip]
mysql:
  packages: [mariadb-client, mariadb-server, python-mysqldb]
  databases: [test]
  users:
    - { user: test, password: test, database: test }
php:
  version: 7.1
  extensions: [apcu, bz2, curl, gd, intl, mbstring, mcrypt, mysql, xml, zip]
  settings:
    - { setting: date.timezone, value: Europe/Madrid }
    - { setting: expose_php, value: Off }
    - { setting: memory_limit, value: -1 }
    - { setting: opcache.enable, value: 1 }
    - { setting: opcache.max_accelerated_files, value: 20000 }
    - { setting: opcache.revalidate_path, value: 1 }
    - { setting: opcache.validate_timestamps, value: 0 }
    - { setting: post_max_size, value: 64M }
    - { setting: realpath_cache_size, value: 5M }
    - { setting: realpath_cache_ttl, value: 7200 }
    - { setting: upload_max_filesize, value: 64M }
  fpm_pools:
    - name: www
      user: www-data
      group: www-data
      listen_owner: www-data
      listen_group: www-data
      pm: dynamic
      pm_max_children: 10
      pm_start_servers: 2
      pm_min_spare_servers: 2
      pm_max_spare_servers: 5
      pm_max_requests: 250
composer:
  packages:
    - { package: hirak/prestissimo }
nginx:
  remove_default_vhost: true
  vhosts:
    - listen: '80'
      server_name: provision.local
      redirect: https://provision.local
    - listen: '443 default_server' # ssl http2
      server_name: provision.local
      root: /var/www/html
      index: index.nginx-debian.html
      cache_assets: true
      # ssl_certificate: /etc/letsencrypt/live/provision.local/fullchain.pem
      # ssl_certificate_key: /etc/letsencrypt/live/provision.local/privkey.pem
      # ssl_trusted_certificate: /etc/letsencrypt/live/provision.local/fullchain.pem
      # extra_config: |
      #   location / {
      #       try_files $uri $uri/ /index.php?$args;
      #   }
      #
      #   location ~ \.php$ {
      #       fastcgi_split_path_info ^(.+\.php)(/.+)$;
      #       fastcgi_pass unix:/var/run/php/php{{ php.version }}-fpm.www.sock;
      #       fastcgi_index index.php;
      #       include fastcgi_params;
      #       fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
      #       fastcgi_param DOCUMENT_ROOT $realpath_root;
      #   }
# certbot:
#   stop_service: nginx
#   certificates:
#       - { email: test@example.com, domains: [example.com, www.example.com] }
#   renew_hour: 4
#   renew_minute: 21
cronjobs:
  - { job: 'echo "Test" >> /dev/null 2>&1', name: 'Test', user: 'test', minute: 0, hour: 0, day: '*', month: '*', weekday: '*' }
